div(class='jsh-grid full-bleed')
    div.jsh-grid--item__left
      h1.vr--double We Ship Overnight Nationwide
      p We deliver Tuesday–Friday and offer the ability to schedule ahead
      button.btn  view menu
  
