.btn {
  margin: 1rem 0;
  padding: .75rem 1.5rem;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    color: var(--white);
    background-color: var(--color-primary);
  }
}
